PUERTO=8089
LIMITE_FILAS=300
BD_USUARIO=usuario_de_base_de_datos
BD_PASE=pase_de_base_de_datos
BD_PUERTO=9999
BD_BASE=nombre_base_datos_mongo_db
BD_SERVIDOR=url_del_servidor_mongo_db
BD_ENLACE=mongodb+srv://$BD_USUARIO:$BD_PASE@$BD_SERVIDOR/$BD_BASE
# Llave secreta
LLAVE_SECRETA=valor_de_llave_secreta
# Para la derivación de la clave
LONGITUD_SALT=15
# 12 bytes es el estándar absoluto para GCM
LONGITUD_IV=12
# Configuración del algoritmo
ALGORITMO_ENCRIPTACION=aes-256-gcm